.footer {
    font-size: 0.9rem;
  }
  
  .footer-link {
    color: var(--f1-light-gray);
    text-decoration: none;
    transition: color 0.2s;
    line-height: 1.8;
  }
  
  .footer-link:hover {
    color: var(--f1-red);
  }
  
  hr {
    border-color: rgba(255, 255, 255, 0.1);
  }